table{
    border-collapse: collapse;
}
td{
    border: 2px black solid;
}
.header{
    background-color: lightgrey;
    font-weight: bold;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
h1{
    
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}
table{
    text-align: center;
}