table{
    border-collapse: collapse;
}
td{
    border: 2px black solid;
}
.header{
    background-color: lightgrey;
    font-weight: bold;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}
a{
    position: relative;
    left: 44.5%;
    margin-bottom: 5%;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
}
table{
    text-align: center;
}